In [1]:
import pandas as pd

source = pd.read_csv('input.csv')
source

   Id   Name
0   1  Frank
1   2   John
2   3    Leo

In [5]:
import pymssql

conn = pymssql.connect(
    host='localhost',
    user='sa',
    password='reallyStrongPwd123',
    database='master'
)
cursor = conn.cursor()

In [ ]:
for data in source.to_numpy():
    # print(data[0],data[1])
    cursor.execute('''INSERT INTO orders(Id,Name) 
                  VALUES ({:d}, '{:s}')
               '''.format(data[0],data[1]))
    
conn.commit()
conn.close()

In [6]:
cursor.execute('''SELECT Id, Name FROM master.dbo.orders;''')
result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

(1, 'Frank')
(2, 'John')
(3, 'Leo')

In [ ]:
# cursor.execute('''INSERT INTO dbo.orders(Id,Name) 
#                   VALUES (101, 'hhh')''')